################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsIoT/.vs/
/AcumaticaProject/Code/.vs/
/.vs
